
h2 {
  color: #002D75;
  font-size: 2.5rem;
}

h3 {

  font-size: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav ul {
    display: flex;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #111;
      font-size: 2rem;
      font-weight: bold;

    }

    li {
      padding: 0 15px;
    }
  }
}


main{
  padding: 0 10%;


  img {
    max-width: 300px;

  }
}

footer {
  color: #555;
  margin-top: 20px;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    max-width: 300px;
  }
  .credit {
    max-width: 25%;
  }

  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    li {
      padding-bottom: 15px;
      font-size: 1.5rem;
    }
  }

}
