body {
  background-color: teal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

main img {
  max-width: 300px;
}

